<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hemant Framework Suite1">

    <listeners>
        <listener class-name="com.hemant.listeners.TestListener"/>
    </listeners>
    
    
  <test thread-count="5" name="Test for Login CRM">
    <classes>
      <class name="com.hemant.tests.LoginCRMTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->